body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, aqua, green);
}
.contenedor-header{
    width: 1300px;
    display: flex ;
    justify-content: center;
}
.contenedor-header .titulo-principal{
    width: 200px;
    text-align: center;
}

.contenedor-header nav{
    margin-top: 10px;
    margin-left: 400px;
    position: relative;
    width: 375px;
    height: 70px;   
}

nav ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    height: 60px;
    margin: 0 auto;
    right: 200px;
}

ul li {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 8px;
    right: px;
}

li a{
    color: aliceblue;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

main{
    width: 100%;
    height: 100vh;
}

/*sectiones */
.section-1{
    border-color: red;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


/* diseñoso de la primera section*/
.contenedor-principal-acerca{
    width: 900px;
}

.contenedor-principal-acerca h2{
}

.informacion{
    width: 500px;
    height: 400px;
}

/* diseñoso de la segunda section*/
.section-2{
    width: 100%;
    height: 100vh;
    margin: 20px 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-2 .contenedor-principal-proyecto{
    width: 950px;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.contenedor-principal-proyecto .titulo-principal-proyecto{
   width: 100%;
   display: block;
}

.contenedor-proyecto{
    position: relative;
    width: 100%;
}

.contenedor-proyecto, .proyectos{
    margin: 20px 0;
}

img{
    width: 300px;
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
        height: 100%;
        position: relative;
    }
    h1{
        width: 100%; 
    }
    .contenedor-header nav{
    top: 0;
    right: 0;
    width: 100%;
    left: -10px;
    margin: 0;

    }
    input{
        width: 100%;
    }
    .contenedor-header{
        width: 100%;
        flex-direction: column; 
        flex-wrap: nowrap; 
        align-items: center;
        justify-content: center;

    }

    .contenedor-principal-acerca{
        width: 100%;
    }
    .informacion{
        width: 100%;
    }
}